# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
venv/
env/
.env

# macOS / Windows
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock
docker-compose.yml
downloads/
*.tar
*.zip

# Nginx build cache
nginx/logs/
nginx/tmp/

# Frontend cache
node_modules/
*.map
dist/
build/
